body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    margin-bottom: 24px;
}

.board {
    width: 600px;
    height: 600px;
    border: 1.4px solid black;
    display: gird;
}

.board {
    display: grid;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    margin-top: 24px;
}